body {
    margin: 0;
}

#App {
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

#navbar {
    position: fixed;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background: #2d192d;
    border-bottom: 2px solid #f2aa27;
    z-index: 1;
}

#home-container {
    display: flex;
}

#home {
    height: 60px;
    margin-left: 6px;
    margin-bottom: 5px;
}

#navbar-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1%;
}

#navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
    min-width: 400px;
}

.navbar-button {
    margin-left: 10px; 
    margin-right: 10px; 
    color: rgb(242, 170, 39);
    font-weight: bold;
}

.empty-media {
    width: 100%;
    height: 100%;
}

.slide-form {
    border: 1px solid #f2aa27;
    border-radius: 10px;
    opacity: 0.95;
}

.slide-form-display {
    border: 1px solid #808080;
}

.slide-form-header {
    height: 4vh;
    line-height: 4vh;
    font-family: Garamond;
    font-size: 2rem;
    text-shadow: -1px 0 #f2aa27, 0 1px #f2aa27, 1px 0 #f2aa27, 0 -1px #f2aa27;
    text-align: center;
    border-radius: 10px;
}

.slide-form-media {
    height: 68.5vh;
    max-width: 100%;
    border-radius: 10px;
}

.slide-form-content {
    height: 66.4vh;
    padding: 10px;
    border-radius: 10px;
    font-family: Helvetica;
}

#slide-field-media {
    text-align: center;
    padding-top: 33.37vh;
    padding-bottom: 33.37vh;
}

#slide-field-header {
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.slide-preview {
    font-size: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.slide-preview-header {
    text-align: center;
    font-size: 6px;
}

.slide-preview-media {
    height: 87px;
    max-width: 100%;
}

.preview-slide {
    border: 1px solid;
    border-color: #808080;
    border-radius: 2px;
    margin-left: 8px;
    margin-right: 8px;
}

.preview-number {
    font-size: 0.7rem;
    width: 5%;
    text-align: right;
}

.preview-slide-highlighted {
    border: 2px solid;
    border-color: #f2aa27;
    border-radius: 3px;
    margin-left: 8px;
    margin-right: 4px;
}

.preview-number-highlighted {
    color: #f2aa27;
    font-weight: bold;
    margin-left: 6px;
    margin-right: -2px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.author-preview {
    text-align: center;
    line-height: 40px;
}

.carousel-slide-container {
    content: "";
    background-image: url("https://i.pinimg.com/originals/f1/32/15/f13215a3276ab6f25339d39221caa4aa.jpg"), linear-gradient(#585858, #000);
    background-blend-mode: multiply;
    z-index: -1;
    height: 96%;
    width: 98%;
    padding: 1%;
    overflow: hidden;
}

.carousel-slide-header {
    height: 8vh;
    line-height: 8vh;
    font-family: Garamond;
    font-size: 4rem;
    text-shadow: -1px 0 #f2aa27, 0 1px #f2aa27, 1px 0 #f2aa27, 0 -1px #f2aa27;
    text-align: center;
    border-radius: 10px;
    color: white;
    background: rgba(17, 17, 17, 0.6);
}

.carousel-slide-media {
    height: 71.48vh;
    max-width: 100%;
    border-radius: 10px;
}

.carousel-slide-content {
    height: 68.4vh;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    color: white;
    background: rgba(17, 17, 17, 0.6);
    font-family: Helvetica;
}

.login-form-wrapper {
    background-color:  rgb(17, 17, 17);
    border: 3px solid #f2aa27;
    border-radius: 800px;
    width: 580px;
    margin-top: 8%;
    opacity: 0.94;
}

.login-form-inner-wrapper {
    margin-top: -15%;
    padding: 50px;
}

.signup-page-container::before {
    content: "";
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/27dbbda7-320b-488b-b8cb-6d993296f095/dcyq8ww-8e6deeff-13f9-4964-8584-f4eccd44353a.png/v1/fill/w_1280,h_903,strp/captain_falcon_using_the_knee_of_justice_by_transparentjiggly64_dcyq8ww-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD05MDMiLCJwYXRoIjoiXC9mXC8yN2RiYmRhNy0zMjBiLTQ4OGItYjhjYi02ZDk5MzI5NmYwOTVcL2RjeXE4d3ctOGU2ZGVlZmYtMTNmOS00OTY0LTg1ODQtZjRlY2NkNDQzNTNhLnBuZyIsIndpZHRoIjoiPD0xMjgwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.7e8bL3KiNglmm73SEzasyZznn9oY1QMtFncdfQ2Rqcc"), radial-gradient(#f2aa27, #2d192d);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.login-page-container::before {
    content: "";
    background-image: url("https://i.pinimg.com/originals/f1/32/15/f13215a3276ab6f25339d39221caa4aa.jpg"), radial-gradient(#f2aa27, #2d192d);
    /* background-image: url("https://i.pinimg.com/originals/f1/32/15/f13215a3276ab6f25339d39221caa4aa.jpg"), linear-gradient(#000, #808080); */
    background-blend-mode: overlay;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

#guide-creator-container{
    padding-top: 52px;
    /* height: 100%; */
    overflow: hidden;
    content: "";
    background-image: url("https://i.pinimg.com/originals/f1/32/15/f13215a3276ab6f25339d39221caa4aa.jpg"), linear-gradient(#585858, #000);
    background-blend-mode: multiply;
    z-index: -1;
}

.default-container {
    background-image: url("https://i.pinimg.com/originals/f1/32/15/f13215a3276ab6f25339d39221caa4aa.jpg"), linear-gradient(#585858, #000);
    background-blend-mode: multiply;
    background-attachment: fixed;
    min-height: 100%;
}

.guides-index-container {
    padding: 2%;
}

.index-tile-link {
    text-decoration: none;
}

/* unvisited link */
.guides-index-container a:link {
    color: white;
}

/* visited link */
.guides-index-container a:visited {
    color: white;
}

/* mouse over link */
.guides-index-container a:hover {
    color: white;
}

/* selected link */
.guides-index-container a:active {
    color: white;
} 

.index-tile-bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.guides-index-page-header {
    font-size: 4rem;
    padding-top: 60px;
}

.index-tile-title {
    font-size: 1.1rem !important;
    font-weight: bold !important;
}

.index-tile-card-content {
    padding-top: 5px !important;
    height: 155px;
    /* display: flex;
    flex-direction: column; */
}

.index-tile-text {
    padding-left: 15px;
    padding-right: 15px;
}

.guide-show-main-container {
    text-align: center;
    padding-top: 50px;
}

.guide-show-title {
    font-size: 5rem;
    text-shadow: -1px 0 #f2aa27, 0 1px #f2aa27, 1px 0 #f2aa27, 0 -1px #f2aa27;
    padding-top: 40px;
}

.guide-show-author {
    text-align: center;
    font-size: 2rem;
}

.guide-show-thumbnail {
    width: 20%;
    max-height: 20%;
    margin-top: 10px;
    border: 2px solid #f2aa27;
    border-radius: 10px;
}

.guide-show-edit-container {
    padding: 20px;
    position: absolute;
    right: 0;
}

.guide-show-like-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.guide-show-likes-text {
    padding-left: 5px;
    min-width: 25px;
}

.guide-show-info-container {
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 8px;
    color: #cccccc;
}

.guide-show-views {
    width: 70%;
    text-align: left;
}

.profile-container {
    padding-top: 52px;
}

.login-signup-redirect {
    text-decoration: none;
}

.auto-rotating-carousel-button {
    display: none !important;
}

.login-errors {
    font-size: 0.8rem;
    color: "#808080";
    /* margin-bottom: -10px; */
}

.guide-creator-errors {
    font-size: 12px;
    color: "#808080";
    padding: 0;
    margin-top: 2px;
    margin-bottom: -17px;
}