body {
    margin: 0;
}

#App {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* background-color: rgb(17, 17, 17);
    color: #f2aa27; */
}

#navbar {
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
    background: #2d192d;
}

#home-container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#home {
    height: 60px;
    margin-left: 6px;
    margin-bottom: 5px;
}

#navbar-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1%;
}

#navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

.navbar-button {
    margin-left: 10px; 
    margin-right: 10px; 
    color: rgb(242, 170, 39);
    font-weight: bold;
}

#guide-creator {
    height: 100%;
}

.preview-number {
    display: inline;
}

.author-preview {
    text-align: center;
    line-height: 30px;
}

.slide-form-field {
    border: 1px dotted black;
}

.slide-form-content {
    height: 70vh;
    margin-top: 1vh;
}

.slide-form-header {
    height: 4vh;
}