body {
    margin: 0;
}

#App {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(17, 17, 17);
    /* color: #f2aa27; */
    color: white;
}

#navbar {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background: #2d192d;
    border-bottom: 2px solid #f2aa27;
}

#home-container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#home {
    height: 60px;
    margin-left: 6px;
    margin-bottom: 5px;
}

#navbar-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1%;
}

#navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 400px;
    min-width: 400px;
}

.navbar-button {
    margin-left: 10px; 
    margin-right: 10px; 
    color: rgb(242, 170, 39);
    font-weight: bold;
}

#guide-creator {
    height: 100%;
}

.empty-media {
    width: 100%;
    height: 100%;
}

.slide-form {
    border: 1px solid #f2aa27;
    border-radius: 10px;
}

.slide-form-display {
    /* border: 1px solid rgb(242, 170, 39); */
    /* border: 1px solid white; */
    border: 1px solid #808080;
}

.slide-form-header {
    height: 4vh;
    line-height: 4vh;
    /* padding-left: 10px;
    padding-right: 10px; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-shadow: -1px 0 #f2aa27, 0 1px #f2aa27, 1px 0 #f2aa27, 0 -1px #f2aa27;
    /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
    text-align: center;
}

.slide-form-media {
    height: 68.5vh;
    max-width: 100%;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: 20%; */
}

.slide-form-content {
    height: 66.4vh;
    /* margin-top: 1vh; */
    padding: 10px;
}

#slide-field-media {
    /* line-height: 66.5vh; */
    text-align: center;
    padding-top: 33.37vh;
    padding-bottom: 33.37vh;
}

#slide-field-header {
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.slide-preview {
    font-size: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.slide-preview-header {
    text-align: center;
    font-size: 6px;
    /* text-shadow: -0.01px 0 #f2aa27, 0 0.01px #f2aa27, 0.01px 0 #f2aa27, 0 -0.01px #f2aa27; */
}

.slide-preview-media {
    height: 87px;
    max-width: 100%;
}

.preview-slide {
    border: 1px solid;
    border-color: #808080;
    border-radius: 2px;
    margin-left: 8px;
    margin-right: 8px;
}

.preview-number {
    font-size: 0.7rem;
    width: 5%;
    text-align: right;
}

.preview-slide-highlighted {
    border: 2px solid;
    border-color: #f2aa27;
    border-radius: 3px;
    margin-left: 8px;
    margin-right: 4px;
}

.preview-number-highlighted {
    color: #f2aa27;
    font-weight: bold;
    margin-left: 6px;
    margin-right: -2px;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.author-preview {
    text-align: center;
    line-height: 40px;
}