body {
    margin: 0;
}

#App {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(17, 17, 17);
    /* color: #f2aa27; */
    color: white;
}

#navbar {
    display: flex;
    align-items: center;
    height: 5%;
    width: 100%;
    background: #2d192d;
    border-bottom: 2px solid #f2aa27;
}

#home-container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#home {
    height: 60px;
    margin-left: 6px;
    margin-bottom: 5px;
}

#navbar-buttons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 1%;
}

#navbar-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

.navbar-button {
    margin-left: 10px; 
    margin-right: 10px; 
    color: rgb(242, 170, 39);
    font-weight: bold;
}

#guide-creator {
    height: 100%;
}

.preview-number {
    font-size: 0.7rem;
    width: 5%;
    text-align: right;
}

.author-preview {
    text-align: center;
    line-height: 40px;
}

.slide-form-field {
    /* border: 1px solid rgb(242, 170, 39); */
    /* border: 1px solid white; */
    border: 1px solid #808080;
}

.slide-form-header {
    height: 4vh;
    line-height: 4vh;
}

.slide-form-media {
    height: 36vh;
    /* line-height: 4vh; */
}

.slide-form-content {
    height: 32vh;
    /* margin-top: 1vh; */
}